.env
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
mlruns/
mlartifacts/
data/raw/*.csv
data/processed/*.csv
*.db
.pytest_cache/
.coverage
htmlcov/
site/
airflow.db
airflow.cfg
logs/
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
models/*.pkl
models/*.pt
